---
title: Endpoint Verification
category: Google Cloud
order: 1
---
Endpoint Verification


Use Endpoint Verification when you want an overview of the SECURITY POSTURE of the devices that are used to access your organization's resources, such as laptops and desktops.

When Endpoint Verification is installed on the devices that access your Org's resources, ti collects and reports device inventory information. You can use this device invnetroy information to manage secure access to your organization's resources.

Consists of a CHROME EXTENSION that collects and reports device inventory, constantly synching with the cloud.