---
import BaseLayout from "../layouts/BaseLayout.astro";

import Certifications from "../components/Certifications/Certifications.astro";
---

<BaseLayout>


  <div class="content-container">

    <div class="hero-text">
      A small portfolio website hosting a brief introduction to my work along with quickstarts, notes, tips, how-tos through to complete reference solutions on application development and cloud engineering.
    </div>

    <Certifications />

  </div>

</BaseLayout>