---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import Summary from "../components/Summary/Item.astro";

const allNotes = await getCollection("notes");
---

<BaseLayout>

  <div class="content-container">
    <div class="page-title">Notes</div>

    <div class="page-2rem"></div>

    <ul class="unordered-list">
      {
        allNotes.map((note) => (
          <Summary path={`/notes/${note.slug}/`} frontmatter={note.data} category="Notes" />
        ))
      }
    </ul>
  </div>

</BaseLayout>