---
---

<header>
  <div class="title-bar-name-logo">
    <img id="title-bar-logo" src="/gfx/title/lion-with-key.svg" alt="Lion with Key - website logo">
    <div id="title-bar-title-container">
      <div id="title-bar-title">TOM BURROWS</div>
      <!-- img id="title-bar-title" src="/gfx/title/website-title.svg" alt="taburrows.github.io" -->
      <div id="title-bar-subtitle">Developer / Engineer</div>
    </div>
  </div>
</header>