---

---


<nav class="nav-container">

  <div class="nav-links">
    <span class="nav-link">
      <a href="/">Home</a>
    </span>
    <span class="nav-link">
      <a href="/solutions/">Solutions</a>
    </span>
    </span>
    <span class="nav-link">
      <a href="/notes/">Notes</a>
    </span>
  </div>
  
</nav>
