---
const { title, url } = Astro.props
---

<li class="list-item">
    <a href={url} class="list-item-link">{title}</a>
    <slot name="path" />
    <slot name="summary" />
    <slot name="tags" />
</li>