---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter, category } = Astro.props;

import Tags from "../components/Tags.astro";

---

<BaseLayout pageTitle={frontmatter.title}>

  <a href={"/" + category}>&lt; <span class="capitalize">{category}</span></a>

  <h1>{frontmatter.title}</h1>


  <Tags items={frontmatter.tags} />

  <slot />

</BaseLayout>